.container {
  flex-wrap: wrap;
  width: 400px;
  background-color: white;
  box-shadow: 0px 0px 16px 11px #e7e7e7;
  display: flex;
  border-radius: 8px;
  box-sizing: border-box;
  min-height: 45px;
  padding: 6px 8px;
  cursor: text;
}

.tag {
  cursor: pointer;
  padding: 4px 8px;
  align-items: center;
  color: black;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  word-break: break-all;
}

.tag:hover {
  background-color: #ededed;
  border-radius: 5px;
}

div:hover.notValid {
  background-color: #f3b7bd;
}

.deleteContainer {
  margin-left: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: red;
  color: white;
  width: 12px;
  height: 12px;
  visibility: hidden;
}

.tag > .delete {
  visibility: hidden;
  font-size: 1em;
  margin-left: 5px;
}

.deleteContainer .delete {
  font-size: 0.7em;
}

.tag:hover .delete,
.tag:hover .deleteContainer {
  visibility: visible;
}

.emailInput {
  padding: 0px;
  border: none;
  font-size: 15px;
  width: 100px;
  padding: 4px 8px;
}
.emailInput:focus,
.emailInput:active {
  outline: none;
}

.emptyState {
  color: #c4c4c4;
  margin: auto 0;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.listContainer {
  position: absolute;
  top: 25px;
  background-color: #fdfdfd;
  border-radius: 5px;
  box-shadow: 0px 0px 16px 11px #e7e7e7;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  left: 16px;
  width: 300px;
  max-height: 200px;
  overflow-y: auto;
}

.emailList {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

.emailListElement {
  cursor: pointer;
  list-style-type: none;
  margin: 5px 0px;
  padding: 10px 15px;
}

.emailListElement:hover {
  background-color: #eff5f9;
}
